#about-background {
    position: relative;

    background-image: url(../img/Acr8596134316416-2957158.tmp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
}

#about-content {
    background: var(--header-bg);
    backdrop-filter: blur(20px);
    padding: 50px;
    border-radius: 30px;
    width: clamp(4rem, 80vw, 60rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#about-text {
    flex: 1;
    text-align: left;
}

#about-media-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    flex: 0 0 auto;
}

.download-area {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    filter: invert(var(--about-audio-color));
    transition: transform 0.2s ease, filter 0.3s ease, opacity 0.2s ease;
    opacity: 0.8;
}

.download-area:hover {
    opacity: 1;
    transform: translate(-2px);
}

#about-radiospot {
    flex: 0 0 auto;
}

#about-radiospot audio {
    filter: invert(var(--about-audio-color));
    opacity: 0.8;
}

