html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img, video {
    max-width: 100%;
}

.scroll-container {
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.erste {
    background-image: url('img/img1.png');
    background-size: cover;
    height: 90vh;
    position: sticky;
    z-index: 1;
    top: 10vh;
    display: flex;
    flex-direction: column;
}

.header {
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: 10vh;
    background: none;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    z-index: 4;
}

.header a {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    text-decoration: none;
    font-size: 30px;
}

.erste p {
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.zweite {
    height: 100vh;
    background: white;
    position: relative;
    z-index: 1;
    border-radius: 24px 24px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.top-stuff {
    height: 10vh;
    width: 100%;
    background-color: rgb(218, 111, 10);
    border-radius: 24px 24px 0px 0px;
}

.wrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.wrapper img {
    transform: scale(1);
    margin-right: 10vh;
    width: 50%;
    height: 100%;
}

.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 40%;
    padding: 10px;
    font-weight: 700;
    margin-right: 10%;
    padding-left: 10%;
    border-left: solid black 1px;
}

.box {
    margin-top: 20vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    color: white;
    position: relative;
    z-index: 3;
    margin: 10px;
    box-sizing: border-box;
}

.box .top-stuff {
    background-color: rgb(195, 185, 0);
}

.box .wrapper {
    background-color: white;
    color: black;
}

.box .wrapper .text {
    border-left: none;
    border-right: black 1px solid;
}