#homescreen {
    background-image: url("../img/house-1477041_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/*In spezifischen css files (home.css, contact.css, etc.) nur id's ansprechen, klassen werden nur in style.css gestyled!

clamp(min, ideal, max) für repsonsive design, auch für text und bilder.
*/

