.photo-homescreen {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.photo-homescreen img {
    width: 40vw;
    border-radius: 12px;
}

#Plakat img {
    width: 20vw;
}

#test {
    background-image: url("../img/house-1477041_1280.jpg");
    background-size: cover;
    height: 100vh;
}

