#source-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#source-links {
    max-width: 80%;
    word-wrap: break-word;
    margin-top: 5vh;
}

#source-section a {
    padding: 1rem;
}
