* { /*Universal Selektor Ding, gilt für alle Elemente der Website*/
    box-sizing: border-box;
}

body {
    font-family: "Orbitron", sans-serif;
    background: #f5f5f5;
    margin: 0;
}

section {
    height: 100vh;
}

footer {
    width: 100%;
    height: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.715);
    backdrop-filter: blur(10px);
    font-size: .75rem;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 10rem;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

/*#ff6600*/


/* für text auf der seite*/
body, p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-main);
    transition: color 0.3s ease;
}

/* 2. forced alle links (navi, titel, footer), die farbe zu nutzen */
a {
    color: var(--text-main); 
    text-decoration: none; 
    transition: color 0.3s ease;
}


.navbar ul li a {
    color: var(--text-main);
}


/* header Layout */
header {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 0 clamp(10px, 3vw, 40px);
    background-color: var(--header-bg);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s;
}

header h1 {
    margin: 1vh;
    transition: transform .3s ease-out;
}

header ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    margin: 0;
    padding-left: 5rem;
}

header a {
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease-out;
}

header li a:hover {
    text-decoration: underline;
    transform: 0.3s;
}


/* box für schalter & text */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-left: 40px; 
}

/* text (Lightmode/Darkmode) */
#mode-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-main, #333); 
    min-width: 80px; 
    text-align: right;
}

/*light logik*/

/* standard (light mode) */
:root {
    --bg-body: #ffffff;          
    --text-main: #333333;        
    --header-bg: rgba(245, 245, 245, 0.5);        
    --card-bg: #f4f4f4;          
    --card-shadow: rgba(0,0,0,0.1);
    --link-color: #000000;
    --homescreen-link-color: linear-gradient(45deg, #fb1303, #1a25f0);
    --about-audio-color: 1;
}

/* Dark Mode  */
[data-theme="dark"] {
    --bg-body: #121212;          
    --text-main: #e0e0e0;        
    --header-bg:  rgba(36, 36, 36, 0.5);       
    --card-bg: #2a2a2a;          
    --card-shadow: rgba(0,0,0,0.5);
    --link-color: #ffffff;
    --homescreen-link-color: linear-gradient(45deg, #fb1303, #f0d41a);
    --about-audio-color: 0;
}

/* Farbe Schwarz und Weiß */

body {
    background-color: var(--bg-body);
    color: var(--text-main);
    transition: background-color 0.3s, color 0.3s;
}

/* links im Header und allgemein */
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

/* für bilder*/
.project-card {
    background-color: var(--card-bg);
    box-shadow: 0 4px 6px var(--card-shadow);
    color: var(--text-main);
    transition: background-color 0.3s;
}

/* */
.title h1 {
    color: var(--text-main);
}


/* light/dark floating knopf */
#theme-toggle-btn {
   
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;

    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    
    background-color: var(--header-bg);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    
    /* zentrieren */
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    overflow: hidden; 
    transition: transform 0.2s;
}

/* icon position */
.icon {
    /* layern beider icons */
    
    position: absolute; 
    top: 50%;
    left: 50%;
    
    /* reduzierung der icons zur zentrierung */
    transform-origin: center; 
    margin-top: -15px;  
    margin-left: -15px; 
    
    width: 30px;  
    height: 30px; 
    object-fit: contain; /* verhindert verzerrung */
    
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* sonne da */
.sun-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}
.moon-icon {
    opacity: 0;
    transform: rotate(90deg) scale(0);
}

/* mond da */
[data-theme="dark"] .sun-icon {
    opacity: 0;
    transform: rotate(-90deg) scale(0);
}


[data-theme="dark"] .moon-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    

    filter: invert(100%); 
}






