body {
    font-family: "Orbitron", sans-serif;
    background: #f5f5f5;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header a {
    text-decoration: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 5vw;
}

.navbar a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff6600;
}


