body {
    font-family: "Orbitron", sans-serif;
    background: #f5f5f5;

}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 5vw; 
}

ul a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(10px, 5vw, 30px);
}

header a {
    text-decoration: none;
}



